.about {
  @include section-divider($main-text);
  background-image: url("../img/thailand.png");
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: 10% -5%;
  padding: 20px;
  .train-img {
    display: none;
  }
  button {
    border: solid 2px $main-text;
    background: transparent;
    padding: 3px 5px;
    margin: 20px 0;
  }
  @media #{$breakpoint-medium} {
    background-size: 35%;
    background-position: 5% 25%;
    .train-img {
      height: 250px;
      display: block;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
}
