.dishes {
  text-align: center;
  background-image: url("../img/zig-zag-wool.png");
  @include section-divider($white-text);
  h4 {
    margin: 15px 0;
  }
  & > p {
    display: none;
  }
  .dish-card {
    .dish-img {
      height: 250px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
  @media #{$breakpoint-medium} {
    .dish-card {
      padding-bottom: 20px;
      h4 {
        display: none;
      }
      img {
        object-fit: cover;
        height: 100%;
      }
    }
    & > p {
      display: inline;
    }
  }
}
