.dishes {
  background-image: url("../img/zig-zag-wool.png");
  text-align: center;
  @include section-divider($white-text);
  p {
    margin: 15px 0;
  }
  & > p {
    display: none;
  }
  .dish-card {
    img {
      width: 100%;
    }
  }
}
