.header {
  position: relative;
  height: 240px;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  ul {
    display: none;
  }
  i {
    float: left;
    margin: 15px 0 0 15px;
  }
  .hero-text {
    @include position(absolute, null 0 0 null);
    right: 0;
    bottom: 0;
    h1 {
      margin: 0;
    }
    p {
      padding-left: 10px;
      margin-bottom: -8px;
    }
  }
  @media #{$breakpoint-medium} {
    height: 300px;
    .nav-bar {
      i {
        display: none;
      }
      ul {
        display: inline;
        float: left;
        margin-top: 20px;
        li {
          display: inline;
          margin-left: 20px;
        }
      }
    }
  }
}
