body {
  font-family: 'Roboto', sans-serif;
  color: $main-text;
  font-weight: 300;
}

.header {
  color: $white-text;
  i {
    font-size: 2em;
  }
  p {
    font-family: 'Amatic SC', serif;
    font-weight: 400;
    font-size: 2em;
    letter-spacing: .1em;
  }
  h1 {
    font-family: 'Amatic SC', serif;
    font-weight: 700;
    letter-spacing: .05em;
    font-size: 4em;
    text-transform: uppercase;
    @media #{$breakpoint-medium} {
      font-size: 5.5em;
    }
  }
  ul {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8em;
  }
}

.flavors {
  h3 {
    text-align: center;
  }
}

.dishes {
  color: $white-text;
  h3 {
    text-align: center;
  }
  h4 {
    font-family: 'Trirong', serif;
  }
}

.about {
  p {
    font-weight: 300;
    font-size: .9em;
  }
}

.ingredients {
  h3 {
    text-align: center;
  }
  @media #{$breakpoint-medium} {
    .ingredient-group {
      .ingredient-text {
        h4, p {
          text-align: left;
        }
      }
    }
  }
}
