body {
  font-family: 'Roboto', sans-serif;
  color: $main-text;
}

.header {
  color: $white-text;
  i {
    font-size: 2em;
  }
  p {
    font-weight: 300;
    text-transform: uppercase;
    font-size: .6em;
    letter-spacing: .1em;
  }
  h1 {
    font-family: 'Trirong', serif;
    font-weight: 400;
    letter-spacing: .05em;
    font-size: 3em;
  }
}

.dishes {
  color: $white-text;
  h3 {
    font-family: 'Trirong', serif;
    font-weight: 300;
    text-transform: uppercase;
  }
  p {
    font-weight: 200;
  }
}
