body {
  font-family: 'Roboto', sans-serif;
  color: $main-text;
}

.header {
  color: $white-text;
  i {
    font-size: 2em;
  }
  p {
    font-weight: 300;
    text-transform: lowercase;
    font-style: italic;
    font-size: .6em;
    letter-spacing: .1em;
  }
  h1 {
    font-family: 'Trirong', serif;
    font-weight: 300;
    letter-spacing: .05em;
    font-size: 3em;
    text-transform: uppercase;
  }
}

.flavors {
  h3 {
    text-align: center;
  }
}

.dishes {
  color: $white-text;
  h3 {
    text-align: center;
  }
  p {
    font-size: .8em;
    font-weight: 200;
    font-family: 'Trirong', serif;
  }
}

.about {
  p {
    font-weight: 300;
    font-size: .9em;
  }
}
